<html>
<head>
<title>Add Log Entry</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
</head>
<body>
<form id="add_log_entry" action="#">
    <label>Entry: <input type="text" id="entry" /></label><br />
    <label>Entry time: <input type="text" id="entry_time" /></label> <em>(optional, will default to today)</em><br />
    <input type="submit" id="submitButton" value="Record log entry" disabled="disabled" /> &nbsp;
    <span id="busyindicator"><img src="/static/submitting.gif" alt="Saving..." /></span>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="/static/add_logs.js"></script>
</body>
</html>
