<html>
<head>
<title>Add Parameter</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
</head>
<body>
<form id="add_parameter" action="#">
    <label>Measurement type: <select id="measurement_type"></select></label><br />
    <label>Value: <input type="number" id="measurement_value" /></label><br />
    <label>Measurement time: <input type="text" id="measurement_time" /></label> <em>(optional, will default to today)</em><br />
    <input type="submit" id="submitButton" value="Record measurement" disabled="disabled" />&nbsp;
    <span id="busyindicator"><img src="/static/submitting.gif" alt="Saving..." /></span>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="/static/add_parameters.js"></script>
</body>
</html>
