<footer id="pagefooter">
    <p><a href="/">Home</a> | <a href="/logs/">Logs</a> | <a href="/parameters/">Parameters</a> | <a href="/settings/">Settings</a></p>
</footer>
{% if libraries %}
    {% if 'd3' in libraries %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% endif %}
    {% if 'jquery' in libraries %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% endif %}
    {% if 'jquery-ui' in libraries %}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    {% endif %}
{% endif %}
{% if script %}
<script src="{{ script }}"></script>
{% endif %}
</body>
</html>
