{% include 'header.inc.html' %}
<div id="main">
    <div id="logentries"></div>
    <div id="control">
        <h4>New log entry:</h4>
        <div class="entry-div">
            <input type="text" id="entry" /> &nbsp;
            <a href="#" id="submit-link" title="Record entry"><img src="/static/images/add-entry.svg" class="icon" alt="Record entry" title="Record entry" /></a>
        </div>
        <div id="submit-div">
            <span id="datechanger" class="optional-text">Log will be entered with today's date (<a href="#" id="changedate">change</a>)</span>&nbsp;
            <span id="busyindicator"><img src="/static/submitting.gif" alt="Saving..." /></span>
        </div>
    </div>
    <div id="clear">&nbsp;</div>
</div>
{% include 'footer.inc.html' %}
