<html>
<head>
<title>Log Entries</title>
<link rel="stylesheet" type="text/css" href="/static/logs.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
</head>
<body>
<div id="main">
    <div id="logentries"></div>
    <div id="control">
        <form id="add_log_entry" action="#">
            <h4>New log entry:</h4>
            <div class="entry-div">
                <input type="text" id="entry" /> &nbsp;
                <a href="#" id="submit-link" title="Record entry"><img src="/static/images/add-entry.svg" class="icon" alt="Record entry" title="Record entry" /></a>
            </div>
            <div id="submit-div">
                <span id="datechanger" class="optional-text">Log will be entered with today's date (<a href="#" id="changedate">change</a>)</span>&nbsp;
                <span id="busyindicator"><img src="/static/submitting.gif" alt="Saving..." /></span>
            </div>
        </form>
    </div>
    <div id="clear">&nbsp;</div>
</div>
<footer id="pagefooter">
    <p><a href="/">Home</a> | <a href="/logs/">Logs</a> | <a href="/parameters/">Parameters</a></p>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="/static/logs.js"></script>
</body>
</html>
