{% include 'header.inc.html' %}
<div id="main">
    <h3>Measurements</h3>
    <hr />
    <div id="measurements">
        <table id="measurements_grid">
            <thead>
                <tr class="table_header">
                    <th id="measurement_name">Measurement name</th>
                    <th id="measurement_units">Units</th>
                    <th id="measurement_range">Acceptable range</th>
                    <th id="measurement_control"></th>
                </tr>
            </thead>
        </table>
    <div id="clear"></div>
</div>
{% include 'footer.inc.html' %}
