{% include 'header.inc.html' %}
<div id="main">
    <h3>Hello and welcome!</h3>
    <p class="description">If you have reached this page then this site has not yet been configured. You need to enter some initial settings to get started.</p>
    <h4>Your first tank</h4>
    <p class="description">This site allows you to manage measurements and changelogs for as many tanks as you'd like, but you need to have at least one.</p>
    <p class="prompt">Tank name: <input type="text" id="setup-tank-name" value="Main" />&nbsp;<button id="submit-tank-name">Add tank</button></p>
</div>
{% include 'footer.inc.html' %}
