body {
    font-family:sans-serif;
    background:#da7553;
}

#clear {
    clear:both;
}

.icon {
    width:16px;
    height:16px;
    opacity:0.75;
}

.icon:hover {
    opacity:1.0;
}

/* Override jquery-ui stylesheet for SVG calendar picker */
.ui-datepicker-trigger {
    width:16px;
    height:16px;
}

/* Override font size choice for jquery-ui widget */
.ui-widget {
    font-size:0.75em;
}

/* .inline-button brings the vertical sizing of jquery-ui buttons under control */
.inline-button {
    margin-top:0em;
    margin-bottom:0em;
}

.inline-button .ui-button-text {
    padding-top:0em;
    padding-bottom:0em;
}

/* Indicates hovering over an editable field */
.entry-hover {
    background:lightyellow;
}
