#measurements_grid {
    width:75%;
}

#tanks_grid {
    width:75%;
}

thead th {
    border-bottom:solid 1px gray;
}

#measurement_name {
    width:40%;
}

#measurement_units {
    width:20%;
}

#measurement_range {
    width:25%;
}

#measurement_control {
    width:15%;
}

#tank_name {
    width:85%;
}

#tank_control {
    width:15%;
}

.table_header th {
    text-align:left;
    padding-right:1em;
}

.new_setting {
    width:95%;
}

.inline-edit {
    width:80%;
}

.schedule-list li {
    padding-bottom:0.2em;
}

.delete-link {
    padding-left:1em;
}
