{% macro render_schedule_day(class, attr) -%}
<div class="{{class}} day">
<h3></h3>
<ul>
    {% for e in schedule|selectattr(attr, 'is_true') %}
    <li>{{ e.event_name }}</li>
    {% endfor %}
</ul>
</div>
{%- endmacro %}
{%if tank_name is not defined %}
{%include 'header.inc.html' %}
<div id="main">
    <div id="tabs">
        <ul></ul>
        <div id="clear">&nbsp;</div>
    </div>
</div>
{%include 'footer.inc.html' %}
{%else%}
<div id="tank_schedule" rpi-data="{{tank_name}}">
    <h2>Weekly Schedule for {{tank_name}}</h2>
    {{ render_schedule_day('day-0', 'on_sunday') }}
    {{ render_schedule_day('day-1', 'on_monday') }}
    {{ render_schedule_day('day-2', 'on_tuesday') }}
    {{ render_schedule_day('day-3', 'on_wednesday') }}
    {{ render_schedule_day('day-4', 'on_thursday') }}
    {{ render_schedule_day('day-5', 'on_friday') }}
    {{ render_schedule_day('day-6', 'on_saturday') }}
    <script>
        (function () {
            var date = new Date();
            var dow = date.getDay();

            for (var i = 0; i < 7; i++) {
                var diff = (i - dow);
                var displayDate = new Date(date.getTime());
                displayDate.setDate(displayDate.getDate() + diff);
                $('.day-' + i).find('h3').html(DAYS_OF_WEEK[displayDate.getDay()] + ' ' + MONTHS[displayDate.getMonth()] + ' ' + displayDate.getDate());
                if (i == dow) {
                    $('.day-' + dow).addClass('schedule-today');
                }
            }

        })();
    </script>
</div>
{%endif%}
