body {
    font-family:sans-serif;
}

#clear {
    clear:both;
}

/* Override jquery-ui stylesheet for SVG calendar picker */
.icon, .ui-datepicker-trigger {
    width:16px;
    height:16px;
}

/* Indicates hovering over an editable field */
.entry-hover {
    background:lightyellow;
}
