body {
    font-family:sans-serif;
}

#clear {
    clear:both;
}

.icon {
    width:16px;
    height:16px;
    opacity:0.75;
}

.icon:hover {
    opacity:1.0;
}

/* Override jquery-ui stylesheet for SVG calendar picker */
.ui-datepicker-trigger {
    width:16px;
    height:16px;
}

/* Indicates hovering over an editable field */
.entry-hover {
    background:lightyellow;
}
