#busyindicator {
    display:none;
}

#logentries {
    float:left;
    width:50%;
    margin-right:1em;
    border:solid 2px gray;
    border-radius:0.4em;
    min-height:5em;
}

#control {
    margin-left:52%;
    padding-right:1em;
}

#control img {
    vertical-align:middle;
    padding-left:0.1em;
}

#logentries img {
    vertical-align:text-top;
    padding-left:0.1em;
}

#control input {
    margin-bottom:1em;
}

h4 {
    margin:0px;
}

.optional-text {
    font-style:italic;
    font-size:smaller;
}

.logentry-date {
    font-weight:bold;
    text-align:right;
    font-style:italic;
    font-size:smaller;
}

.logentry-entry {
    margin:0px;
    padding-bottom:0.2em;
    vertical-align:middle;
}

.logentry-empty {
    font-style:italic;
    text-align:center;
    min-height:5em;
}

#entry {
    width:95%;
}

article {
    padding:0.5em;
    border-bottom:dotted 1px gray;
}

.logentry-control {
    padding-left:0.5em;
}

.logentry-inline-edit {
    width:80%;
}
