body {
    font-family:sans-serif;
}

svg {
  vertical-align:middle;
}

.xAxis path, .xAxis line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.xAxis text, .yAxis text {
    font-family:sans-serif;
    font-size:11px;
}

.yAxis path, .yAxis line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.measurement_Phosphate {
    fill:green;
    stroke:darkgreen;
}

.measurement_Magnesium {
    fill:cyan;
    stroke:darkcyan;
}

.measurement_Calcium {
    fill:blue;
    stroke:darkblue;
}

.measurement_KH {
    fill:yellow;
    stroke:orange;
}

.measurement_PH {
    fill:red;
    stroke:darkred;
}

.measurement_SpecificGravity {
    fill:slateblue;
    stroke:darkslateblue;
}

.measurement_Temperature {
    fill:violet;
    stroke:darkviolet;
}

.measurement_Nitrate {
    fill:salmon;
    stroke:darksalmon;
}

.measurement_Nitrite {
    fill:pink;
    stroke:deeppink;
}

.measurement_Ammonia {
    fill:slategray;
    stroke:darkslategray;
}

.line {
    fill:none;
    stroke-width:1;
}

#busyindicator {
    display:none;
}

#logentries {
    float:left;
    width:50%;
    padding-right:1em;
    border-right:solid 2px gray;
    min-height:5em;
}

#control {
    margin-left:52%;
    padding-right:1em;
}

#control img {
    vertical-align:middle;
    margin:0px;
    padding-left:0.1em;
}

#control input {
    margin-bottom:1em;
}

h4 {
    margin:0px;
}

.optional-text {
    font-style:italic;
    font-size:smaller;
}

.logentry-date {
    font-weight:bold;
    text-align:right;
    font-style:italic;
    font-size:smaller;
}

.logentry-entry {
    margin:0px;
}

.logentry-empty {
    font-style:italic;
    text-align:center;
    min-height:5em;
}

#entry {
    width:95%;
}

/* Override jquery-ui stylesheet for SVG calendar picker */
.icon, .ui-datepicker-trigger {
    width:16px;
    height:16px;
}
