body {
    font-family:sans-serif;
}

svg {
  vertical-align:middle;
}

.xAxis path, .xAxis line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.xAxis text, .yAxis text {
    font-family:sans-serif;
    font-size:11px;
}

.yAxis path, .yAxis line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.measurement_Phosphate {
    fill:green;
    stroke:darkgreen;
}

.measurement_Magnesium {
    fill:cyan;
    stroke:darkcyan;
}

.measurement_Calcium {
    fill:blue;
    stroke:darkblue;
}

.measurement_KH {
    fill:yellow;
    stroke:orange;
}

.measurement_PH {
    fill:red;
    stroke:darkred;
}

.measurement_SpecificGravity {
    fill:slateblue;
    stroke:darkslateblue;
}

.measurement_Temperature {
    fill:violet;
    stroke:darkviolet;
}

.measurement_Nitrate {
    fill:salmon;
    stroke:darksalmon;
}

.measurement_Nitrite {
    fill:pink;
    stroke:deeppink;
}

.measurement_Ammonia {
    fill:slategray;
    stroke:darkslategray;
}

.line {
    fill:none;
    stroke-width:1;
}

