svg {
  vertical-align:middle;
}

h1, h2, h3 {
    margin-bottom:0.1em;
}

h4 {
    margin:0px;
}

.graphdisplay {
    float:left;
    width:75%;
    margin-right:1em;
}

.graphcontrol {
    margin-left:76%;
    padding-right:1em;
}

.xAxis path, .xAxis line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.xAxis text, .yAxis0 text {
    font-family:sans-serif;
    font-size:11px;
}

.yAxis0 path, .yAxis0 line {
    fill:none;
    stroke:black;
    shape-rendering:crispEdges;
}

.axis_label {
    font-size:11px
    text-anchor:middle;
}

.line {
    fill:none;
    stroke-width:1;
}

.acceptable_range {
    fill:lightgreen;
    stroke:darkgreen;
}

.parameter-entry {
    width:5em;
}

.date-entry {
    width:8em;
}

.entry-units {
    font-size:smaller;
}
