#measurements_grid {
    width:75%;
}

thead th {
    border-bottom:solid 1px gray;
}

#measurement_name {
    width:40%;
}

#measurement_units {
    width:20%;
}

#measurement_range {
    width:30%;
}

#measurement_control {
    width:5%;
}

.table_header th {
    text-align:left;
    padding-right:1em;
}

.new_measurement {
    width:95%;
}
